.TegName {
    font-size: 20px;
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: row;
}

.block {
    width: 50%;
}

.NameList {
    font-style: italic;
    color: #71bf1c;

}

.NameSities {
    color: red;
    text-decoration: underline;
}