body{
    margin: 0;
}
.head {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .head-top {
        background-color:lavender;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid lightgoldenrodyellow;
        height: 80px;
        z-index: 1;
    }

    .head-top-links {
        color: dodgerblue;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .head-top-links a{
        display: flex;
        text-align: center;
        padding-right: 20px;
    }

    .head-top-links a{
        color: #296eb1;
        text-decoration: none;
    }

    .head-bottom {
        flex:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
    }
}

.head-top-logo{
    padding: 4px;
    color: darkkhaki;
    display: flex;
    flex-direction: row;
    justify-content: left;
    }
.head-top-logo img{
    display:flex;
    border-radius: 90px;

}